//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW5AST-LV138FPG676AC1/I0
//Device: GW5AST-138
//Device Version: B
//Created Time: Tue 11 19 22:33:12 2024

//IO_LOC "KEY[2]" G15;
//IO_PORT "KEY[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "KEY[1]" F15;
//IO_PORT "KEY[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "KEY[0]" K16;
//IO_PORT "KEY[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "LED[7]" Y21;
IO_PORT "LED[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[6]" Y22;
IO_PORT "LED[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[5]" AB21;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[4]" AB22;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[3]" AA20;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[2]" AA21;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[1]" AA19;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[0]" AB20;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "FLASH_SPI_WPN" P21;
IO_PORT "FLASH_SPI_WPN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_HOLDN" R21;
IO_PORT "FLASH_SPI_HOLDN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_CLK" L12;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_MOSI" P22;
IO_PORT "FLASH_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_MISO" R22;
IO_PORT "FLASH_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_CSN" T19;
IO_PORT "FLASH_SPI_CSN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "DDR3_BANK[2]" M6;
IO_PORT "DDR3_BANK[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_BANK[1]" P2;
IO_PORT "DDR3_BANK[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_BANK[0]" P5;
IO_PORT "DDR3_BANK[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC "DDR3_ADDR[13]" K1;
IO_PORT "DDR3_ADDR[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[12]" K4;
IO_PORT "DDR3_ADDR[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[11]" H3;
IO_PORT "DDR3_ADDR[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[10]" L1;
IO_PORT "DDR3_ADDR[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[9]" H5;
IO_PORT "DDR3_ADDR[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[8]" J5;
IO_PORT "DDR3_ADDR[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[7]" J1;
IO_PORT "DDR3_ADDR[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[6]" G3;
IO_PORT "DDR3_ADDR[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[5]" H2;
IO_PORT "DDR3_ADDR[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[4]" J2;
IO_PORT "DDR3_ADDR[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[3]" J4;
IO_PORT "DDR3_ADDR[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[2]" G2;
IO_PORT "DDR3_ADDR[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[1]" K2;
IO_PORT "DDR3_ADDR[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[0]" M1;
IO_PORT "DDR3_ADDR[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC "DDR3_ODT" M2;
IO_PORT "DDR3_ODT" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_CKE" K6;
IO_PORT "DDR3_CKE" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=1.5;
IO_LOC "DDR3_WE_N" M5;
IO_PORT "DDR3_WE_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_CAS_N" L4;
IO_PORT "DDR3_CAS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_RAS_N" L5;
IO_PORT "DDR3_RAS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_CS_N" P4;
IO_PORT "DDR3_CS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_RESET_N" L6;
IO_PORT "DDR3_RESET_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_CK" L3,K3;
IO_PORT "DDR3_CK" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[3]" W1;
IO_PORT "DDR3_DM[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[2]" T6;
IO_PORT "DDR3_DM[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[1]" V7;
IO_PORT "DDR3_DM[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[0]" AA4;
IO_PORT "DDR3_DM[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC "DDR3_DQ[31]" Y2;
IO_PORT "DDR3_DQ[31]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[30]" U1;
IO_PORT "DDR3_DQ[30]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[29]" V2;
IO_PORT "DDR3_DQ[29]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[28]" U2;
IO_PORT "DDR3_DQ[28]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[27]" U3;
IO_PORT "DDR3_DQ[27]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[26]" T1;
IO_PORT "DDR3_DQ[26]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[25]" Y1;
IO_PORT "DDR3_DQ[25]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[24]" W2;
IO_PORT "DDR3_DQ[24]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[23]" T5;
IO_PORT "DDR3_DQ[23]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[22]" V5;
IO_PORT "DDR3_DQ[22]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[21]" T4;
IO_PORT "DDR3_DQ[21]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[20]" Y6;
IO_PORT "DDR3_DQ[20]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[19]" R4;
IO_PORT "DDR3_DQ[19]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[18]" U6;
IO_PORT "DDR3_DQ[18]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[17]" R6;
IO_PORT "DDR3_DQ[17]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[16]" U5;
IO_PORT "DDR3_DQ[16]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[15]" Y9;
IO_PORT "DDR3_DQ[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[14]" AB6;
IO_PORT "DDR3_DQ[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[13]" W9;
IO_PORT "DDR3_DQ[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[12]" AB8;
IO_PORT "DDR3_DQ[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[11]" Y7;
IO_PORT "DDR3_DQ[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[10]" AB7;
IO_PORT "DDR3_DQ[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[9]" Y8;
IO_PORT "DDR3_DQ[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[8]" AA8;
IO_PORT "DDR3_DQ[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[7]" AB1;
IO_PORT "DDR3_DQ[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[6]" AB5;
IO_PORT "DDR3_DQ[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[5]" AB2;
IO_PORT "DDR3_DQ[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[4]" AA1;
IO_PORT "DDR3_DQ[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[3]" V4;
IO_PORT "DDR3_DQ[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[2]" AA5;
IO_PORT "DDR3_DQ[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[1]" AB3;
IO_PORT "DDR3_DQ[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[0]" Y4;
IO_PORT "DDR3_DQ[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC "DDR3_DQS[3]" R3,R2;
IO_PORT "DDR3_DQS[3]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[2]" W6,W5;
IO_PORT "DDR3_DQS[2]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[1]" V9,V8;
IO_PORT "DDR3_DQS[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[0]" Y3,AA3;
IO_PORT "DDR3_DQS[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;




IO_LOC "TDI_IN" R13;
IO_PORT "TDI_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TDO_OUT" U13;
IO_PORT "TDO_OUT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TMS_IN" T13;
IO_PORT "TMS_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TCK_IN" V12;
IO_PORT "TCK_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


IO_LOC "UART2_RXD" Y14;
IO_PORT "UART2_RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "UART2_TXD" U15;
IO_PORT "UART2_TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


IO_LOC "CLK" V22;
IO_PORT "CLK" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "RSTN" AB13;
IO_PORT "RSTN" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_0_s0" R52C142[2][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_1_s0" R52C142[0][A];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_3_s0" R52C142[3][A];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_2_s0" R52C142[1][A];


//INS_LOC "u_ddr3/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "u_Gowin_PLL_DDR3/PLL_inst" PLL_L[0];


//INS_LOC "u_Gowin_PLL_AE350/PLL_inst" PLL_R[0];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_1_s0" R53C132[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_2_s0" R53C133[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_3_s0" R53C134[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_4_s0" R54C131[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_5_s0" R54C132[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_6_s0" R54C133[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_7_s0" R54C134[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_0_s0" R53C131[3][B];


//INS_LOC "u_ddr3/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
